*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --sniptap-sun: #FFCD1E;
  --snitap-sky-mid: #06B6D4;
  --snitap-sky-light: #67E8F9;
  --snitap-joy-mid: #DB2777;
  --snitap-joy-light: #F472B6;
  --snitap-leaf-mid: #16A34A;

  --text: #000000;
  --highlights: #000000;
  --background: #FAFAFA;

  --ff-base: "Montserrat", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;
}

html, button {
font: 500 1rem/1.5 var(--ff-base);
}

h1, h2 {
  font-family: 'Syne', sans-serif;
}

h1 {
  font-size: var(--text-xl);
  line-height: 1.25;
}

h2 {
  font-size: var(--text-lg);
  line-height: 1.2;
}

body {

}